In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Binned_train.csv')

In [8]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.head()

,Unnamed: 0,Age,Avg_Account_Balance,Channel_Code,Credit_Product,Gender,Is_Active,Is_Lead,Occupation,Region_Code,Vintage
0,6,grp_3,1056750,X3,Yes,Male,Yes,1,Other,reg_3,20
1,15,grp_2,517063,X2,Yes,Male,Yes,1,Self_Employed,reg_1,69
2,31,grp_1,1072850,X4,Yes,Female,Yes,1,Salaried,reg_2,15
3,36,grp_2,962383,X3,Yes,Female,No,1,Self_Employed,reg_1,62
4,40,grp_3,1249319,X3,Yes,Female,Yes,1,Other,reg_2,103

In [9]:
#Encoding
df_encoded=pd.get_dummies(df, columns=['Gender','Credit_Product', 'Region_Code', 'Occupation', 'Channel_Code','Is_Active','Age'])

# Dropping last columns of each feature, to avoid dummy variable trap 
df_encoded.drop(['Gender_Female','Is_Active_No','Channel_Code_X4','Occupation_Other','Region_Code_reg_4','Credit_Product_No','Age_grp_1'], axis=1, inplace=True)

# Renaming Columns
df_encoded.rename(columns = {'Gender_Male':'Gender', 'Is_Active_Yes':'Is_Active','Credit_Product_Yes':'Credit_Product'}, inplace=True)

# Count of each value in 'Credit_Product'
df_encoded['Credit_Product'].value_counts()

#final columns
df_encoded.columns

#Verifying there is no null
df_encoded.isnull().sum()

Avg_Account_Balance         0
Is_Lead                     0
Vintage                     0
Gender                      0
Credit_Product              0
Region_Code_reg_1           0
Region_Code_reg_2           0
Region_Code_reg_3           0
Occupation_Entrepreneur     0
Occupation_Salaried         0
Occupation_Self_Employed    0
Channel_Code_X1             0
Channel_Code_X2             0
Channel_Code_X3             0
Is_Active                   0
Age_grp_2                   0
Age_grp_3                   0
Age_grp_4                   0
Age_grp_5                   0
dtype: int64

In [10]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler
balance = df_encoded.loc[:,['Avg_Account_Balance']]
robust_scaler = RobustScaler()
balance_df = pd.DataFrame(robust_scaler.fit_transform(balance),
                   columns=['Avg_Account_Balance'],
                   index = balance.index)

vintage= df_encoded.loc[:,['Vintage']]
min_max_scaler = MinMaxScaler()
vintage_df = pd.DataFrame(min_max_scaler.fit_transform(balance),
                   columns=['Vintage'],
                   index = vintage.index)

df_scaled = df_encoded.copy()
df_scaled['Avg_Account_Balance'] = balance_df['Avg_Account_Balance']
df_scaled['Vintage'] = vintage_df['Vintage']
df_scaled.head()

#creating a copy
df_train = df_scaled.copy()

In [11]:
df_train.head()

,Avg_Account_Balance,Is_Lead,Vintage,Gender,Credit_Product,Region_Code_reg_1,Region_Code_reg_2,Region_Code_reg_3,Occupation_Entrepreneur,Occupation_Salaried,Occupation_Self_Employed,Channel_Code_X1,Channel_Code_X2,Channel_Code_X3,Is_Active,Age_grp_2,Age_grp_3,Age_grp_4,Age_grp_5
0,0.212695,1,0.100275,1,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0
1,-0.495225,1,0.048036,1,1,1,0,0,0,0,1,0,1,0,1,1,0,0,0
2,0.233813,1,0.101833,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0
3,0.088911,1,0.091141,0,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0
4,0.465292,1,0.118914,0,1,0,1,0,0,0,0,0,0,1,1,0,1,0,0

In [13]:
X=df_train.drop(['Is_Lead'],axis=1)

In [33]:
X.columns

Index(['Avg_Account_Balance', 'Vintage', 'Gender', 'Credit_Product',
       'Region_Code_reg_1', 'Region_Code_reg_2', 'Region_Code_reg_3',
       'Occupation_Entrepreneur', 'Occupation_Salaried',
       'Occupation_Self_Employed', 'Channel_Code_X1', 'Channel_Code_X2',
       'Channel_Code_X3', 'Is_Active', 'Age_grp_2', 'Age_grp_3', 'Age_grp_4',
       'Age_grp_5', 'one'],
      dtype='object')

In [15]:
Y=df_train.loc[:,'Is_Lead']

In [18]:
import statsmodels.formula.api as sm
def backwardElimination(x, sl):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
    regressor_OLS.summary()
    return x

In [19]:
SL = 0.05
X_opt = X[:, []]
X_Modeled = backwardElimination(X_opt, SL)

TypeError: '(slice(None, None, None), [0, 1, 2, 3, 4, 5])' is an invalid key

In [30]:
import statsmodels.api as sm
#X['one']=1

In [25]:
X.shape

(245725, 19)

In [31]:
#regressor_ols=sm.OLS(endog=Y,exog=X).fit()
regressor_OLS = sm.OLS(endog=X, exog=X).fit()
regressor_OLS.summary()

ValueError: shapes (245725,19) and (245725,19) not aligned: 19 (dim 1) != 245725 (dim 0)

In [34]:
X_opt = np.array(X[:, ['Avg_Account_Balance', 'Vintage', 'Gender', 'Credit_Product',
       'Region_Code_reg_1', 'Region_Code_reg_2', 'Region_Code_reg_3',
       'Occupation_Entrepreneur', 'Occupation_Salaried',
       'Occupation_Self_Employed', 'Channel_Code_X1', 'Channel_Code_X2',
       'Channel_Code_X3', 'Is_Active', 'Age_grp_2', 'Age_grp_3', 'Age_grp_4',
       'Age_grp_5', 'one']], dtype=float)

TypeError: '(slice(None, None, None), ['Avg_Account_Balance', 'Vintage', 'Gender', 'Credit_Product', 'Region_Code_reg_1', 'Region_Code_reg_2', 'Region_Code_reg_3', 'Occupation_Entrepreneur', 'Occupation_Salaried', 'Occupation_Self_Employed', 'Channel_Code_X1', 'Channel_Code_X2', 'Channel_Code_X3', 'Is_Active', 'Age_grp_2', 'Age_grp_3', 'Age_grp_4', 'Age_grp_5', 'one'])' is an invalid key